<p>hello world!</p>
<!-- <app-myc01></app-myc01> -->

<!--声明周期-->
<!-- <app-myc02 *ngIf="show01"></app-myc02>
<button (click)="show01 = !show01">切换显示</button> -->

<!-- <app-myc02 #myc02></app-myc02>
<app-myc02></app-myc02>
<button (click)="change()">掌控子元素</button> -->

<!-- 父组件向子组件传参 -->
<!-- 如果是计算属性，加方括号 [] -->
<!-- <app-myc03 name="亮亮"></app-myc03>
<app-myc03 [age]="32"></app-myc03>
<app-myc03 name="王聪" [age]="32" [boos]="{name:'wangcong', age: 18, sex:'男'}"></app-myc03> -->

<!--子传父-->
<!-- <app-myc03 name="王聪" (msgEvent2)="show($event)" ></app-myc03> -->

<!-- 服务 -->
<!-- <app-myc02></app-myc02>
<app-myc03></app-myc03> -->

<!--http请求-->
<app-myc04></app-myc04>